.h1 {
    background-image: url("../img/hex1.png");
}
.h2 {
    background-image: url("../img/hex2.png");
}
.h3 {
    background-image: url("../img/hex3.png");
}
.h4 {
    background-image: url("../img/hex4.png");
}
.h5 {
    background-image: url("../img/hex5.png");
}
.h6 {
    background-image: url("../img/hex6.png");
}
.h7 {
    background-image: url("../img/hex7.png");
}
.h8 {
    background-image: url("../img/hex8.png");
}
.h9 {
    background-image: url("../img/hex9.png");
}
.h10 {
    background-image: url("../img/hex10.png");
}
.h11 {
    background-image: url("../img/hex11.png");
}
.h12 {
    background-image: url("../img/hex12.png");
}
.h13 {
    background-image: url("../img/hex13.png");
}
